body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    margin-top: 50px;
    background-color: rgb(155, 218, 93);
    font-size: 18px;
    padding: 30px;
}


img {
    height: 200px;
}

.white-text {
    font-size: 16px;
    color: white;
}

header {
    border: 1px solid black;
    padding: 16px;
    background-color: orangered;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(=2, 1fr);
}
.Main-title {
    color:darkgreen
}
.recipe-detail {
    color: green;
    text-decoration: none;
}

/* .footer-color {
    background-color: rgb(155, 218, 93);
    font-size: 18px;
    padding: 30px;
} */

.alternate-coloring tbody tr:nth-child(even) {
    background-color: rgb(192, 192, 192);
}

.main-page-picture {
    width: 75%;
    height: 75%;
    object-fit: cover;

}

/* main > div > div {
    font-size: 100 p;
} */

.rating {
    style
    font-size: 15px;
}

.detail-picture {
    width: 20%;
    height: 20%;
    object-fit: cover;
}

.list-space {
    font-size: 18px;
    margin-bottom: 40px;
}
